@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    color: #333;
    list-style-type: none;
}

body{
    width: 1200px;
    height: 700px;
}
a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.top{
    width: 1200px;
    height: 100px;
}
.logo{
    width: 200px;
    height: 100px;
    float: left;
}

.menu{
    width: 1000px;
    height: 100px;
    background-color: rgb(130, 130, 130);
    float: left;
    position: relative;
}
.backMenu{
    width: 1200px;
    height: 150px;
    background-color: rgb(196, 196, 196);
    position: absolute;
    left: -200px;
    top: 100px;
    display: none;
}
.main{
    position: absolute;
    left: 380px;
    top: 50px;
}
.main>li{
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: darkgray;
}
.main>li>a:hover{
    background-color: rgb(125, 125, 125);
    color: white;
}
.sub{
    display: none;
}
.sub>li{
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(196, 196, 196);
}
.sub>li>a:hover{
    background-color: rgb(158, 158, 158);
    color: white;
}

.imageSlide{
    width: 1200px;
    height: 300px;
}

.nogal{
    width: 400px;
    height: 200px;
    float: left;
}

.banner{
    width: 400px;
    height: 200px;
    float: left;
}

.shoutcut{
    width: 400px;
    height: 200px;
    float: left;
}

.bottom{
    width: 1200px;
    height: 100px;
}
.bottomLogo{
    width: 200px;
    height: 100px;
    float: left;
}
.bottomRight{
    width: 1000px;
    height: 100px;
    float: right;
}
.bottomMenu{
    width: 1000px;
    height: 50px;
}
.copy{
    width: 1000px;
    height: 50px;
}